### Ebay Kleinanzeigen Scraped Data

In [1]:
import pandas as pd
autos = pd.read_csv('autos.csv', encoding='Latin-1')

In [2]:
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

**observations**  
price and odometer are not numerical, null values in several columns

In [3]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [4]:
new_columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen']
autos.columns = new_columns
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

**rename columns to make them easier to work with**  
shorten some names, use consistent snake-case

In [5]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-08 10:40:35,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

**columns with mostly one value**  
seller, offer_type, nr_of_pictures  
  
**columns that need more investigation**  
odometer: some values have unit suffixed  
power_ps: unrealistic max value  
registration_year: unrealistic min and max values  
  
**columns with values that can be converted to numeric type**  
odometer, price

In [6]:
p = autos['price'].str.replace('$','')
p = p.str.replace(',','')
p = p.astype(float)
autos['price'] = p

In [7]:
o = autos['odometer']
o = o.str.replace(r'[^0-9]+', '')
o = o.astype(int)
autos['odometer'] = o

In [8]:
autos.rename(columns={'odometer': 'odometer_km'}, inplace=True)

In [9]:
autos.describe()

,price,registration_year,power_ps,odometer_km,registration_month,nr_of_pictures,postal_code
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,9.840044e+03,2005.073280,116.355920,125732.700000,5.723360,0.0,50813.627300
std,4.811044e+05,105.712813,209.216627,40042.211706,3.711984,0.0,25779.747957
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1.100000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30451.000000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49577.000000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71540.000000
max,1.000000e+08,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

In [10]:
autos['price'].value_counts().sort_index(ascending=False).head()

99999999.0    1
27322222.0    1
12345678.0    3
11111111.0    2
10000000.0    1
Name: price, dtype: int64

In [11]:
autos[autos['price'] >= 9999999]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
2897,2016-03-12 21:50:57,Escort_MK_1_Hundeknochen_zum_umbauen_auf_RS_2000,privat,Angebot,11111111.0,test,limousine,1973,manuell,48,escort,50000,3,benzin,ford,nein,2016-03-12 00:00:00,0,94469,2016-03-12 22:45:27
11137,2016-03-29 23:52:57,suche_maserati_3200_gt_Zustand_unwichtig_laufe...,privat,Angebot,10000000.0,control,coupe,1960,manuell,368,NaN,100000,1,benzin,sonstige_autos,nein,2016-03-29 00:00:00,0,73033,2016-04-06 21:18:11
24384,2016-03-21 13:57:51,Schlachte_Golf_3_gt_tdi,privat,Angebot,11111111.0,test,NaN,1995,NaN,0,NaN,150000,0,NaN,volkswagen,NaN,2016-03-21 00:00:00,0,18519,2016-03-21 14:40:18
27371,2016-03-09 15:45:47,Fiat_Punto,privat,Angebot,12345678.0,control,NaN,2017,NaN,95,punto,150000,0,NaN,fiat,NaN,2016-03-09 00:00:00,0,96110,2016-03-09 15:45:47
39377,2016-03-08 23:53:51,Tausche_volvo_v40_gegen_van,privat,Angebot,12345678.0,control,NaN,2018,manuell,95,v40,150000,6,NaN,volvo,nein,2016-03-08 00:00:00,0,14542,2016-04-06 23:17:31
39705,2016-03-22 14:58:27,Tausch_gegen_gleichwertiges,privat,Angebot,99999999.0,control,limousine,1999,automatik,224,s_klasse,150000,9,benzin,mercedes_benz,NaN,2016-03-22 00:00:00,0,73525,2016-04-06 05:15:30
42221,2016-03-08 20:39:05,Leasinguebernahme,privat,Angebot,27322222.0,control,limousine,2014,manuell,163,c4,40000,2,diesel,citroen,NaN,2016-03-08 00:00:00,0,76532,2016-03-08 20:39:05
47598,2016-03-31 18:56:54,Opel_Vectra_B_1_6i_16V_Facelift_Tuning_Showcar...,privat,Angebot,12345678.0,control,limousine,2001,manuell,101,vectra,150000,3,benzin,opel,nein,2016-03-31 00:00:00,0,4356,2016-03-31 18:56:54

**remove outliers**  
price > 999999: item names do not suggest that the prices are serious

In [12]:
autos = autos[autos['price'].between(0,9999999)]

In [13]:
autos['price'].value_counts().sort_index(ascending=False).head(20)

3890000.0    1
1300000.0    1
1234566.0    1
999999.0     2
999990.0     1
350000.0     1
345000.0     1
299000.0     1
295000.0     1
265000.0     1
259000.0     1
250000.0     1
220000.0     1
198000.0     1
197000.0     1
194000.0     1
190000.0     1
180000.0     1
175000.0     1
169999.0     1
Name: price, dtype: int64

In [14]:
autos['price'].describe()

count    4.999200e+04
mean     5.909360e+03
std      2.248352e+04
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      3.890000e+06
Name: price, dtype: float64

In [15]:
autos['price'].median()

2950.0

In [16]:
autos['odometer_km'].value_counts()

150000    32419
125000     5170
100000     2168
90000      1757
80000      1436
70000      1230
60000      1164
50000      1026
5000        967
40000       818
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

In [17]:
autos['odometer_km'].describe()

count     49992.000000
mean     125734.017443
std       40041.246220
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

**obervations**  
odometer_km values are ordinal  
more than 60% of the cars have an odometer count of 150000 km which is the highest category. values are possibly much higher than this.  
There are only a few items sold for more than one billion dollars - the mean lies at roughly 6000 dollars

In [18]:
date_crawled = autos['date_crawled'].str[:10]
date_crawled.value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.025384
2016-03-06    0.013942
2016-03-07    0.035966
2016-03-08    0.033265
2016-03-09    0.033205
2016-03-10    0.032125
2016-03-11    0.032485
2016-03-12    0.036766
2016-03-13    0.015562
2016-03-14    0.036626
2016-03-15    0.033985
2016-03-16    0.029505
2016-03-17    0.031525
2016-03-18    0.013062
2016-03-19    0.034906
2016-03-20    0.037826
2016-03-21    0.037506
2016-03-22    0.032925
2016-03-23    0.032385
2016-03-24    0.029105
2016-03-25    0.031745
2016-03-26    0.032485
2016-03-27    0.031045
2016-03-28    0.034846
2016-03-29    0.034165
2016-03-30    0.033625
2016-03-31    0.031905
2016-04-01    0.033805
2016-04-02    0.035406
2016-04-03    0.038686
2016-04-04    0.036526
2016-04-05    0.013102
2016-04-06    0.003181
2016-04-07    0.001420
Name: date_crawled, dtype: float64

**date_crawled's** distribution shows that the crawler operated at relatively constant speed over the first 32 days with a significant slowdown in the last two days.

In [21]:
last_seen = autos['last_seen'].str[:10]
last_seen.value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.001080
2016-03-06    0.004421
2016-03-07    0.005361
2016-03-08    0.007581
2016-03-09    0.009842
2016-03-10    0.010762
2016-03-11    0.012522
2016-03-12    0.023804
2016-03-13    0.008981
2016-03-14    0.012802
2016-03-15    0.015883
2016-03-16    0.016443
2016-03-17    0.027924
2016-03-18    0.007421
2016-03-19    0.015743
2016-03-20    0.020703
2016-03-21    0.020723
2016-03-22    0.021583
2016-03-23    0.018583
2016-03-24    0.019563
2016-03-25    0.019203
2016-03-26    0.016963
2016-03-27    0.016023
2016-03-28    0.020863
2016-03-29    0.022344
2016-03-30    0.024844
2016-03-31    0.023824
2016-04-01    0.023104
2016-04-02    0.024904
2016-04-03    0.025364
2016-04-04    0.024624
2016-04-05    0.124300
2016-04-06    0.220975
2016-04-07    0.130941
Name: last_seen, dtype: float64

**last_seen's** distribution shows that 47,5% of the ads have been seen by the crawler during the last 3 days of the crawling operation.

In [24]:
ad_created = autos['ad_created'].str[:10]
ad_created.value_counts(normalize=True, dropna=False).sort_index().head(50)

2015-06-11    0.000020
2015-08-10    0.000020
2015-09-09    0.000020
2015-11-10    0.000020
2015-12-05    0.000020
2015-12-30    0.000020
2016-01-03    0.000020
2016-01-07    0.000020
2016-01-10    0.000040
2016-01-13    0.000020
2016-01-14    0.000020
2016-01-16    0.000020
2016-01-22    0.000020
2016-01-27    0.000060
2016-01-29    0.000020
2016-02-01    0.000020
2016-02-02    0.000040
2016-02-05    0.000040
2016-02-07    0.000020
2016-02-08    0.000020
2016-02-09    0.000040
2016-02-11    0.000020
2016-02-12    0.000060
2016-02-14    0.000040
2016-02-16    0.000020
2016-02-17    0.000020
2016-02-18    0.000040
2016-02-19    0.000060
2016-02-20    0.000040
2016-02-21    0.000060
2016-02-22    0.000020
2016-02-23    0.000080
2016-02-24    0.000040
2016-02-25    0.000060
2016-02-26    0.000040
2016-02-27    0.000120
2016-02-28    0.000200
2016-02-29    0.000160
2016-03-01    0.000100
2016-03-02    0.000100
2016-03-03    0.000860
2016-03-04    0.001440
2016-03-05    0.023044
2016-03-06    0.015122
2016-03-07    0.034746
2016-03-08    0.033305
2016-03-09    0.033225
2016-03-10    0.031865
2016-03-11    0.032785
2016-03-12    0.036606
Name: ad_created, dtype: float64

**ad_created's** distribution shows that the number of ads that were added before the duration of the crawling operation make up for only an  insignificant portion of the total set.

In [26]:
autos['registration_year'].describe()

count    49992.000000
mean      2005.074552
std        105.720930
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

column **registration_year** still has unrealistic min and max values

In [39]:
autos[(autos['registration_year'] < 1900)]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,999.0,test,NaN,2017,manuell,90,NaN,150000,4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
55,2016-03-07 02:47:54,Mercedes_E320_AMG_zu_Tauschen!,privat,Angebot,1.0,test,NaN,2017,automatik,224,e_klasse,125000,7,benzin,mercedes_benz,nein,2016-03-06 00:00:00,0,22111,2016-03-08 05:45:44
65,2016-04-04 19:30:39,Ford_Fiesta_zum_ausschlachten,privat,Angebot,250.0,control,NaN,2017,manuell,65,fiesta,125000,9,benzin,ford,NaN,2016-04-04 00:00:00,0,65606,2016-04-05 12:22:12
68,2016-04-03 17:36:59,Mini_cooper_s_clubman_/vollausstattung_/_Navi/...,privat,Angebot,10990.0,test,NaN,2017,manuell,174,clubman,100000,0,NaN,mini,nein,2016-04-03 00:00:00,0,83135,2016-04-05 17:26:26
84,2016-03-27 19:52:54,Renault_twingo,privat,Angebot,900.0,control,NaN,2018,NaN,60,twingo,150000,0,NaN,renault,NaN,2016-03-27 00:00:00,0,40589,2016-04-05 18:46:49
113,2016-04-03 14:58:29,Golf_4_Anfaenger_auto,privat,Angebot,1200.0,test,NaN,2017,manuell,75,golf,150000,7,NaN,volkswagen,NaN,2016-04-03 00:00:00,0,97656,2016-04-05 14:15:48
164,2016-03-13 20:39:16,Opel_Meriva__nur_76000_Km__unfallfrei__scheckh...,privat,Angebot,4800.0,control,NaN,2018,manuell,0,meriva,80000,4,benzin,opel,nein,2016-03-13 00:00:00,0,37627,2016-04-04 16:48:02
197,2016-04-05 10:36:24,VW_Polo_9N_an_Bastler,privat,Angebot,888.0,control,NaN,2017,manuell,64,polo,20000,7,NaN,volkswagen,ja,2016-04-05 00:00:00,0,58566,2016-04-07 13:16:13
253,2016-03-27 13:25:18,Ford_mondeo_Gas_anlage_mit_TÜV_04.2017,privat,Angebot,2250.0,test,NaN,2017,manuell,0,mondeo,150000,8,benzin,ford,nein,2016-03-27 00:00:00,0,56575,2016-04-05 15:18:34
348,2016-03-17 20:58:24,VW_Beetle_1.8Turbo_mit_Vollausstattung_und_seh...,privat,Angebot,3750.0,control,NaN,2017,manuell,150,beetle,150000,7,NaN,volkswagen,nein,2016-03-17 00:00:00,0,45896,2016-03-24 17:17:50
390,2016-03-25 12:59:06,Fiat_Bertone_X_1_9__X_1/9__X19__X_19__X1_9__X_19,privat,Angebot,7750.0,test,NaN,2018,manuell,76,andere,150000,6,benzin,fiat,nein,2016-03-25 00:00:00,0,78239,2016-03-28 12:16:50
438,2016-03-10 20:36:25,VW_Golf_5_V_1.6_2004_Klima_Tempomat,privat,Angebot,4150.0,test,NaN,2017,manuell,102,golf,150000,0,benzin,volkswagen,NaN,2016-03-10 00:00:00,0,49377,2016-03-13 03:16:51
453,2016-03-28 13:51:12,Armee_Jeep,privat,Angebot,9800.0,test,NaN,4500,manuell,0,andere,5000,0,NaN,jeep,NaN,2016-03-28 00:00:00,0,7545,2016-04-06 17:45:49
454,2016-03-25 09:57:03,Ford_Fiesta_Servo_D3_Kat_86_Steuern_65.000_tkm,privat,Angebot,750.0,test,NaN,2017,manuell,50,fiesta,70000,0,benzin,ford,NaN,2016-03-25 00:00:00,0,12207,2016-03-26 19:47:15
457,2016-03-15 17:48:39,Mercedes_Benz_W203_C200_Kombi_Kompressor_c_kla...,privat,Angebot,3000.0,control,NaN,2017,manuell,163,c_klasse,150000,8,NaN,mercedes_benz,NaN,2016-03-15 00:00:00,0,40627,2016-03-21 16:49:25
477,2016-03-31 08:53:34,Citroën_C4,privat,Angebot,3200.0,control,NaN,2017,manuell,88,NaN,125000,2,NaN,citroen,nein,2016-03-31 00:00:00,0,12459,2016-03-31 10:41:30
545,2016-03-22 18:50:53,Bmw_x5_/__E53,privat,Angebot,4300.0,test,NaN,2017,automatik,184,x_reihe,150000,7,NaN,bmw,ja,2016-03-22 00:00:00,0,56410,2016-03-23 17:27:19
548,2016-03-10 17:44:57,Peugeot_206_1.9_Hdi_4_Tueren_Tuev_02.17,privat,Angebot,1399.0,control,NaN,2017,manuell,90,2_reihe,150000,6,NaN,peugeot,nein,2016-03-10 00:00:00,0,48153,2016-03-11 05:44:18
557,2016-03-16 03:36:34,Smart_Fortwo_Passion_MHD,privat,Angebot,4900.0,test,NaN,2017,automatik,71,fortwo,30000,4,NaN,smart,nein,2016-03-16 00:00:00,0,25474,2016-03-29 15:47:46
568,2016-03-18 09:48:44,PRIMA_ANFÄNGERAUTO_smart_fortwo_cabrio,privat,Angebot,1950.0,control,NaN,2017,automatik,54,fortwo,125000,12,NaN,smart,nein,2016-03-18 00:00:00,0,25821,2016-04-01 23:47:20
577,2016-04-03 14:49:09,Volkswagen_Golf_3,privat,Angebot,650.0,test,NaN,2017,manuell,75,golf,150000,1,benzin,volkswagen,NaN,2016-04-03 00:00:00,0,91332,2016-04-05 13:47:38
582,2016-03-31 11:57:46,V10_TDI_TOUAREG,privat,Angebot,7300.0,control,NaN,2017,automatik,313,touareg,150000,7,NaN,volkswagen,nein,2016-03-31 00:00:00,0,53844,2016-04-02 07:17:28
654,2016-04-01 15:48:34,Ich_verkaufe_meinen_gepflegten_daewoo,privat,Angebot,2000.0,test,NaN,2017,manuell,0,kalos,100000,5,benzin,daewoo,NaN,2016-04-01 00:00:00,0,10555,2016-04-07 13:50:05
740,2016-04-02 19:49:46,Seat_Leon_zu_verkaufen!,privat,Angebot,2400.0,control,NaN,2017,manuell,104,leon,150000,2,benzin,seat,ja,2016-04-02 00:00:00,0,44267,2016-04-05 08:55:09
754,2016-03-26 13:47:56,Ford_Ka_Kleinwagen_BJ_2008,privat,Angebot,1850.0,control,NaN,2017,NaN,60,ka,125000,3,benzin,ford,NaN,2016-03-26 00:00:00,0,42119,2016-03-29 16:16:19
758,2016-03-12 18:42:33,Honda_Civic_mit_TÜV_!!!,privat,Angebot,1200.0,test,NaN,2017,NaN,90,civic,150000,12,benzin,honda,ja,2016-03-12 00:00:00,0,44532,2016-03-17 21:44:42
765,2016-03-26 11:52:53,BMW_3er_Limousine_mit_1_Jahr_TÜV!!!!,privat,Angebot,1350.0,control,NaN,2017,manuell,0,3er,150000,3,benzin,bmw,NaN,2016-03-26 00:00:00,0,22846,2016-04-06 00:15:26
802,2016-03-19 11:37:23,Lada_mit_wenig_km_neuem_Tuev_bj_08,privat,Angebot,2100.0,test,NaN,2018,manuell,0,kalina,150000,0,benzin,lada,NaN,2016-03-19 00:00:00,0,12621,2016-03-21 15:20:00
871,2016-04-04 19:38:38,Citroen_C2_60_PS,privat,Angebot,1450.0,test,NaN,2017,manuell,60,c2,150000,3,benzin,citroen,ja,2016-04-04 00:00:00,0,46117,2016-04-04 19:38:38
889,2016-03-12 16:52:19,Verkaufe_Opel_Corsa_C_1_2,privat,Angebot,870.0,control,NaN,2017,manuell,75,corsa,150000,10,benzin,opel,NaN,2016-03-12 00:00:00,0,94164,2016-03-12 16:52:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,2016-03-24 17:51:22,Auto_mit_TÜV_bis_September_2017,privat,Angebot,400.0,control,NaN,2017,manuell,60,ibiza,150000,7,NaN,seat,NaN,2016-03-24 00:00:00,0,50374,2016-04-07 11:16:16
49178,2016-03-24 19:58:43,Mazda_323_F_TÜV__neu_2te_Hand_viele_Neuteile,privat,Angebot,1500.0,control,NaN,2018,manuell,98,3_reihe,150000,6,NaN,mazda,nein,2016-03-24 00:00:00,0,41334,2016-03-27 16:47:05
49185,2016-03-28 11:45:31,Alfa_Romeo_156_Sportwagon_1_8_T_Spark,privat,Angebot,1200.0,control,NaN,2019,manuell,140,156,150000,5,benzin,alfa_romeo,nein,2016-03-28 00:00:00,0,91058,2016-04-06 13:45:56
49218,2016-04-01 19:48:06,Ford_Fiesta_1.3_4/5_Tuerer_16_Monate_Tuev,privat,Angebot,2750.0,control,NaN,2018,manuell,60,fiesta,125000,4,benzin,ford,nein,2016-04-01 00:00:00,0,58089,2016-04-05 16:45:21
49245,2016-03-26 08:32:30,Audi_A3_1.8T_tausch_moegl.,privat,Angebot,3300.0,control,NaN,2017,manuell,150,a3,150000,4,NaN,audi,nein,2016-03-26 00:00:00,0,35075,2016-04-05 21:44:36
49259,2016-03-19 18:45:05,Volkswagen_Lupo_TÜV_06.2017_Klima,privat,Angebot,999.0,test,NaN,2017,manuell,50,lupo,150000,0,benzin,volkswagen,NaN,2016-03-19 00:00:00,0,10713,2016-04-07 05:45:32
49261,2016-03-10 12:51:40,Toyota_aygo,privat,Angebot,2800.0,test,NaN,2017,manuell,0,aygo,90000,6,benzin,toyota,nein,2016-03-10 00:00:00,0,93055,2016-03-19 19:18:00
49262,2016-03-26 18:31:21,Opel_vectra,privat,Angebot,2000.0,test,NaN,2018,NaN,0,NaN,150000,0,NaN,opel,NaN,2016-03-26 00:00:00,0,65549,2016-04-06 18:19:01
49266,2016-03-10 00:54:09,Toyota_Corolla_Verso_7_Sitzer_104.000km_2_2_Di...,privat,Angebot,7699.0,control,NaN,2017,manuell,177,NaN,125000,12,diesel,toyota,nein,2016-03-09 00:00:00,0,27751,2016-04-05 19:18:39
49283,2016-03-15 18:38:53,Citroen_HY,privat,Angebot,7750.0,control,NaN,1001,NaN,0,andere,5000,0,NaN,citroen,NaN,2016-03-15 00:00:00,0,66706,2016-04-06 18:47:20
49342,2016-03-09 20:47:01,Audi_80_b4_S_Color_und_BMW_318ti_compact_Tausc...,privat,Angebot,0.0,test,NaN,2017,manuell,90,80,150000,10,benzin,audi,ja,2016-03-09 00:00:00,0,25853,2016-03-11 17:45:36
49343,2016-03-12 11:56:55,bmw_320i_touring,privat,Angebot,4400.0,test,NaN,2017,manuell,0,3er,150000,0,diesel,bmw,NaN,2016-03-12 00:00:00,0,86695,2016-03-25 09:15:38
49347,2016-03-21 20:41:09,Honda_civic_mit_TÜV_3/2017,privat,Angebot,950.0,control,NaN,2017,manuell,90,civic,150000,0,NaN,honda,nein,2016-03-21 00:00:00,0,99439,2016-03-21 20:41:09
49354,2016-04-05 10:31:29,Bmw_e39_523i_mit_neuem_Tuev,privat,Angebot,2499.0,control,NaN,2018,manuell,174,5er,150000,8,NaN,bmw,nein,2016-04-05 00:00:00,0,65207,2016-04-05 12:27:15
49389,2016-03-10 07:54:10,Astra_G_CC,privat,Angebot,950.0,control,NaN,2017,NaN,0,astra,150000,0,benzin,opel,NaN,2016-03-10 00:00:00,0,33332,2016-03-25 07:17:25
49411,2016-03-28 12:58:19,Renault_twingo_Tuev_neu,privat,Angebot,1550.0,test,NaN,2018,NaN,0,twingo,100000,0,NaN,renault,NaN,2016-03-28 00:00:00,0,48739,2016-03-28 13:41:18
49522,2016-03-14 10:42:08,Mazda_Demio_zu_verkaufen!_RESERVIERT,privat,Angebot,350.0,control,NaN,2017,manuell,72,NaN,150000,12,NaN,mazda,nein,2016-03-14 00:00:00,0,32791,2016-03-24 17:45:40
49557,2016-03-19 18:42:28,E320_T_cdi_avangart,privat,Angebot,6250.0,test,NaN,2017,automatik,205,e_klasse,150000,3,diesel,mercedes_benz,nein,2016-03-19 00:00:00,0,13589,2016-04-07 05:17:42
49561,2016-03-27 11:25:23,Ford_Galaxy_1_8_TDCI_7_Sitze_Paoramadach_DPF_AHK,privat,Angebot,6500.0,test,NaN,2017,manuell,0,galaxy,150000,6,NaN,ford,NaN,2016-03-27 00:00:00,0,55128,2016-03-30 13:15:32
49653,2016-03-25 20:50:13,Top_zustand_privat,privat,Angebot,1050.0,control,NaN,2017,manuell,110,scenic,150000,8,benzin,renault,nein,2016-03-25 00:00:00,0,34127,2016-03-28 21:19:07
49662,2016-03-10 11:54:09,Daihatsu_Coure_122tkm_Tuev_1/17_2.Hand,privat,Angebot,333.0,test,NaN,2017,manuell,0,cuore,125000,0,benzin,daihatsu,NaN,2016-03-10 00:00:00,0,41751,2016-03-12 16:15:59
49689,2016-03-14 15:44:53,VW_GOLF_V_1.9,privat,Angebot,4700.0,control,NaN,2017,manuell,105,NaN,150000,0,diesel,volkswagen,NaN,2016-03-14 00:00:00,0,22459,2016-03-16 05:45:48
49696,2016-03-08 13:36:21,Audi_A3_1_6_Attraction_mit_TÜV_10/17,privat,Angebot,1250.0,control,NaN,2017,manuell,101,a3,150000,8,benzin,audi,nein,2016-03-08 00:00:00,0,26624,2016-03-08 21:17:30
49731,2016-03-28 13:40:31,Renault_MEGANE_1.6_16V__neu_ZANHRIEMEN_TOP_ZUS...,privat,Angebot,1700.0,test,NaN,2017,manuell,0,megane,150000,7,NaN,renault,nein,2016-03-28 00:00:00,0,34123,2016-03-31 21:44:52
49770,2016-03-15 12:54:26,VW_Polo_6n_Tuev_Neu!__1.6_75PS,privat,Angebot,999.0,control,NaN,2018,manuell,75,polo,150000,12,benzin,volkswagen,nein,2016-03-15 00:00:00,0,24321,2016-04-06 02:16:02
49796,2016-03-09 09:38:38,Opel_corsa_1.4_zu_verkaufen,privat,Angebot,4500.0,test,NaN,2017,manuell,90,corsa,70000,7,benzin,opel,nein,2016-03-09 00:00:00,0,88433,2016-03-17 20:45:08
49841,2016-03-11 15:37:02,Passat_abzugeben.,privat,Angebot,600.0,test,NaN,2017,manuell,101,passat,150000,7,NaN,volkswagen,NaN,2016-03-11 00:00:00,0,53804,2016-03-11 16:41:14
49880,2016-03-30 08:52:57,E39_528i_an_Bastler,privat,Angebot,0.0,control,NaN,2017,manuell,193,5er,150000,4,NaN,bmw,ja,2016-03-30 00:00:00,0,65468,2016-04-07 01:15:27
49910,2016-04-03 21:39:15,Schoener_fast_neuer_Opel_Mokka_in_Zell_Mosel_m...,privat,Angebot,22200.0,test,NaN,9000,automatik,140,andere,10000,3,benzin,opel,NaN,2016-04-03 00:00:00,0,56856,2016-04-05 22:18:26
49935,2016-04-01 21:48:20,Mercedes_A_klasse_angemeldet_mit_Tuef_und_Auto...,privat,Angebot,800.0,test,NaN,2017,automatik,101,a_klasse,150000,9,NaN,mercedes_benz,nein,2016-04-01 00:00:00,0,39108,2016-04-01 21:48:20

The names of the ads that claim a registration year earlier than 1900 do not suggest a realistic relation between the item for sale and the registration year. They are therefore assumed not to be substantial to the analysis.

In [41]:
autos[autos['registration_year'] > 2016].shape

(1964, 20)

In [45]:
autos.loc[autos['registration_year'] > 2016, 'registration_year'].value_counts()

2017    1452
2018     491
9999       4
5000       4
2019       3
9000       2
5911       1
9996       1
2800       1
4800       1
8888       1
4500       1
6200       1
4100       1
Name: registration_year, dtype: int64

there is a large number of ads that claim a registration_year of 2017 or 2018 (4% of the total number of ads in the dataset). I keep them and accept the relatively small distortion that these unrealistic values introduce to the analysis.

In [47]:
autos = autos[autos['registration_year'].between(1901, 2018)]
autos['registration_year'].value_counts(normalize=True)

2000    0.067127
2005    0.060342
1999    0.060022
2004    0.054778
2003    0.054578
2006    0.054198
2001    0.054078
2002    0.050695
1998    0.049094
2007    0.046112
2008    0.044651
2009    0.041989
1997    0.040588
2011    0.032703
2010    0.031962
2017    0.029060
1996    0.028900
2012    0.026479
2016    0.026338
1995    0.026258
2013    0.016131
2014    0.013309
1994    0.013209
2018    0.009827
1993    0.008906
2015    0.007986
1990    0.007906
1992    0.007825
1991    0.007125
1989    0.003623
          ...
1977    0.000440
1966    0.000440
1975    0.000380
1969    0.000380
1965    0.000340
1964    0.000240
1963    0.000180
1910    0.000180
1959    0.000140
1961    0.000120
1956    0.000100
1958    0.000080
1937    0.000080
1962    0.000080
1950    0.000060
1934    0.000040
1951    0.000040
1957    0.000040
1955    0.000040
1941    0.000040
1954    0.000040
1927    0.000020
1953    0.000020
1948    0.000020
1943    0.000020
1931    0.000020
1929    0.000020
1938    0.000020
1939    0.000020
1952    0.000020
Name: registration_year, Length: 80, dtype: float64

**registration year's** distribution shows that the three most frequent registration years are 1999, 2000 and 2005 which together make up for about 20% of the dataset.